Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.

In [1]:
c=input()
d=[]
z=0
i=0
a=len(c)
z=c.find('@')
for i in range(z+1,a):
    if(c[i]=='.'):
        break
    else:
        print(c[i],end='')

mnc@google.com
google

Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.

In [5]:
my_arr=input('enter comma-separated sequence of words: ').split(',')
my_arr.sort()
print(','.join(my_arr))

enter comma-separated sequence of words: without,hello,bag,world
bag,hello,without,world

# Create your own Jupyter Notebook for Sets

Create a Set:

In [25]:
set = {"apple", "banana", "cherry"}
print(set)

{'banana', 'cherry', 'apple'}

Access Items

In [26]:
set = {"apple", "banana", "cherry"}

for x in set:
    print(x)

banana
cherry
apple

To add one item to a set use the add() method.

To add more than one item to a set use the update() method.

In [27]:
set = {"apple", "banana", "cherry"}

set.add("orange")

print(set)
set.update(["orange", "mango", "grapes"])

print(set)

{'orange', 'banana', 'cherry', 'apple'}
{'apple', 'mango', 'cherry', 'orange', 'grapes', 'banana'}

# Some Functions of sets
add()	Adds an element to the set
clear()	Removes all the elements from the set
copy()	Returns a copy of the set
difference()	Returns a set containing the difference between two or more sets
difference_update()	Removes the items in this set that are also included in another, specified set
discard()	Remove the specified item
intersection()	Returns a set, that is the intersection of two other sets
intersection_update()	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	Returns whether two sets have a intersection or not
issubset()	Returns whether another set contains this set or not
issuperset()	Returns whether this set contains another set or not
pop()	Removes an element from the set
remove()	Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	Return a set containing the union of sets
update()	Update the set with the union of this set and others

To determine how many items a set has, use the len() method.

In [28]:
set = {"apple", "banana", "cherry"}

print(len(set))

3

Remove Item
To remove an item in a set, use the remove(), or the discard() method.

In [30]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates

In [29]:
b=list(map(int,(input().split())))
for i in range(1,b[-1]):
    if i not in b:
        print(i,end=' ')
    else:
        continue

1 3 4 7
2 5 6

With a given list L, write a program to print this list L after removing all duplicate values with original order reserved

In [24]:
def sub(b):
    l=[]
    for i in b:
        if i in l:
            continue
        else:
            l.append(i)
    return l
b=list(map(int,input().split()))
sub(b)
print(sub(b))

12 24 35 24 88 120 155 88 120 155
[12, 24, 35, 88, 120, 155]